This code is to take the data output of a CosmicWatch as text and change it to a csv file.

In [5]:
import pandas as pd
from datetime import datetime, timedelta

fileName = '2024-07-01_13-06-22_primary_data'
txtName = fileName + '.TXT'
csvName = fileName + '.csv'

def add_ms(row):
    row['Time'] = dt + timedelta(milliseconds = row['RunTime'])

# Read the .text file
df = pd.read_csv(txtName, sep=' ', skiprows=6, names=['Event', 'RunTime', 'ADC','SiPM','DownTime','Temp'])

timeFmt = "yyyy-MM-dd' 'HH:mm:ss.SSS"

ts = datetime(2024,7,1,13,6,22,0)
ts_ms = ts.timestamp()*1000

df['Time_stamp_ms'] = ts_ms + df.RunTime

df['Time_stamp'] = pd.to_datetime(df['Time_stamp_ms'], unit='ms')

df['Time_stamp2'] = df['Time_stamp'].apply(lambda x: x.replace(microsecond=0))

df['Time_stamp3'] = df['Time_stamp2'].apply(lambda x: x.replace(second=0))

# Write the .csv file
df.to_csv(csvName, index=False)

df

,Event,RunTime,ADC,SiPM,DownTime,Temp,Time_stamp_ms,Time_stamp,Time_stamp2,Time_stamp3
0,1,2190,364,71.71,1096,22.19,1.719854e+12,2024-07-01 17:06:24.190,2024-07-01 17:06:24,2024-07-01 17:06:00
1,2,2632,175,29.94,1100,22.29,1.719854e+12,2024-07-01 17:06:24.632,2024-07-01 17:06:24,2024-07-01 17:06:00
2,3,2738,560,175.34,1104,22.29,1.719854e+12,2024-07-01 17:06:24.738,2024-07-01 17:06:24,2024-07-01 17:06:00
3,4,2761,448,112.41,1109,22.72,1.719854e+12,2024-07-01 17:06:24.761,2024-07-01 17:06:24,2024-07-01 17:06:00
4,5,2857,56,16.76,1113,22.29,1.719854e+12,2024-07-01 17:06:24.857,2024-07-01 17:06:24,2024-07-01 17:06:00
...,...,...,...,...,...,...,...,...,...,...
1137469,1137470,593333340,354,67.99,117699072,24.44,1.720447e+12,2024-07-08 13:55:15.340,2024-07-08 13:55:15,2024-07-08 13:55:00
1137470,1137471,593335000,120,23.58,117699264,24.87,1.720447e+12,2024-07-08 13:55:17.000,2024-07-08 13:55:17,2024-07-08 13:55:00
1137471,1137472,593335285,419,97.20,117699456,24.44,1.720447e+12,2024-07-08 13:55:17.285,2024-07-08 13:55:17,2024-07-08 13:55:00
1137472,1137473,593335519,330,60.13,117699464,25.20,1.720447e+12,2024-07-08 13:55:17.519,2024-07-08 13:55:17,2024-07-08 13:55:00
1137473,1137474,593335750,127,24.18,117699472,25.95,1.720447e+12,2024-07-08 13:55:17.750,2024-07-08 13:55:17,2024-07-08 13:55:00